:host {
  display: table-cell;
}

.flex__wrapper {
  column-count: 2;
  column-fill: balance;
  column-gap: 0;
  width: 300px;
  padding: 4px;
}

.flex__wrapper > app-card {
  display: inline-block;
}
