<div class="grid__editor__wrapper">
  <app-grid-editor-column
    (createItem)="createDomain($event)"
    (select)="selectDomain($event)"
    (removeItem)="deleteDomain($event)"
    [items]="getItemsForDomain() | async"
    [selectedItem]="getSelectedDomain() | async"
    category="Domains">
  </app-grid-editor-column>

  <app-grid-editor-column
    (createItem)="createTopic($event)"
    (select)="selectTopic($event)"
    (removeItem)="deleteTopic($event)"
    [items]="getItemsForTopic() | async"
    [selectedItem]="getSelectedTopic() | async"
    category="Topics">
  </app-grid-editor-column>

  <app-grid-editor-column
    (createItem)="createSubtopic($event)"
    (select)="selectSubtopic($event)"
    (removeItem)="deleteSubtopic($event)"
    (editElement)="editSubtopic($event)"
    [getDataForBadge]="getDataForBadge"
    [items]="getItemsForSubtopic() | async"
    [levels]="getLevels() | async"
    [selectedItem]="getSelectedSubtopic() | async"
    [withBadge]="true"
    category="Subtopics">
  </app-grid-editor-column>
</div>
