:host {
  height: 100%;
}

.grid__column__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  overflow-y: auto;
  max-height: 340px;
}

.column__header {
  background-color: #cdcdcd;
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
}

.column__header h2 {
  margin: 0;
}

.column__header mat-icon {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.column__header mat-icon:hover {
  color: #4e4e4e;
}

.column__header mat-icon:active {
  color: white;
}
