<div class="login__main__wrapper">
  <form [formGroup]="formGroup" (ngSubmit)="login()">
    <mat-card class="login__card">

        <mat-card-header>
          <mat-card-title>
            Sing in
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="login__inputs">
          <mat-form-field>
            <input matInput formControlName="login" placeholder="Login" type="text">
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" type="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          <mat-checkbox formControlName="rememberMe">Remember me?</mat-checkbox>
        </mat-card-content>

        <mat-card-actions class="login__actions">
          <button mat-stroked-button color="primary" type="submit">Sign in</button>
          <button mat-raised-button color="accent" type="button">Sign up</button>
        </mat-card-actions>

    </mat-card>
  </form>
</div>
