:host {
  background-color: transparent;
}

.main__card__wrapper {
  border: 1px solid forestgreen;
  min-height: 50px;
  width: 134px;
  margin: 2px;
  border-radius: 4px;
  overflow: hidden;
  padding: 4px;
  background-color: yellowgreen;
}
