<h2>
  User accounts
</h2>
<section>
  <aside>
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="User name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="E-mail">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Role">
          <mat-option value="USER">USER</mat-option>
          <mat-option value="ADMIN">ADMIN</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button>Create</button>
    </form>
  </aside>
  <main>

  </main>
</section>
