.cell__wrapper {
  padding: 0 8px;
  margin: 0;
  border-bottom: 1px solid #9bd9da;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell__wrapper.selected {
  background-color: #dae0e7;
}

.cell__wrapper:hover .close__button {
  visibility: visible;
}

.close__button {
  cursor: pointer;
  visibility: hidden;
}

.cell__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
