<table>
  <thead>
    <tr>
      <td></td>
      <td>Front-end</td>
      <td>Back-end</td>
      <td>Common</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div>Basic</div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div>Junior</div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>3</td>
  </tr>
  <tr>
    <td>
      <div>Middle</div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>3</td>
  </tr>
  <tr>
    <td>
      <div>Senior</div>
    </td>
    <td>
      <div class="flex__wrapper">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </td>
    <td>2</td>
    <td>3</td>
  </tr>
  </tbody>
</table>
