<div class="grid__editor__wrapper">
  <app-grid-editor-column
    category="Domains"
    [items]="getItemsForDomain()"
    [selectedItem]="selectedDomain"
    (select)="selectDomain($event)"
    (createItem)="createDomain($event)">
  </app-grid-editor-column>

  <app-grid-editor-column
    category="Topics"
    [items]="getItemsForTopic()"
    [selectedItem]="selectedTopic"
    (select)="selectTopic($event)"
    (createItem)="createTopic($event)">
  </app-grid-editor-column>

  <app-grid-editor-column
    category="Lessons"
    [withBadge]="true"
    [getDataForBadge]="getDataForBadge"
    [items]="getItemsForSubtopic()"
    [selectedItem]="selectedSubtopic"
    (select)="selectSubtopic($event)"
    (createItem)="createSubtopic($event)">
  </app-grid-editor-column>
</div>
