<div class="grid__editor__wrapper">
  <app-grid-editor-column
    category="Domains"
    [items]="getItemsForDomain()"
    [selectedItem]="selectedDomain"
    (select)="selectDomain($event)"
    (createItem)="createDomain($event)">
  </app-grid-editor-column>

  <app-grid-editor-column
    category="Topics"
    [items]="getItemsForTopic()"
    [selectedItem]="selectedTopic"
    (select)="selectTopic($event)"
    (createItem)="createTopic($event)">
  </app-grid-editor-column>

  <app-grid-editor-column
    category="Lessons"
    [items]="getItemsForLesson()"
    [selectedItem]="selectedLesson"
    (select)="selectLesson($event)"
    (createItem)="createLesson($event)">
  </app-grid-editor-column>

</div>
