<div class="grid__editor__wrapper">
  <app-grid-editor-column
    category="Domains"
    [items]="getItemsForDomain() | async"
    [selectedItem]="selectedDomain$ | async"
    (select)="selectDomain($event)"
    (createItem)="createDomain($event)">
  </app-grid-editor-column>

  <app-grid-editor-column
    category="Topics"
    [items]="getItemsForTopic() | async"
    [selectedItem]="selectedTopic$ | async"
    (select)="selectTopic($event)"
    (createItem)="createTopic($event)">
  </app-grid-editor-column>

  <app-grid-editor-column
    category="Lessons"
    [withBadge]="true"
    [getDataForBadge]="getDataForBadge"
    [items]="getItemsForSubtopic() | async"
    [selectedItem]="selectedSubtopic$ | async"
    (select)="selectSubtopic($event)"
    (createItem)="createSubtopic($event)">
  </app-grid-editor-column>
</div>
