.cell__wrapper {
  padding: 0 16px;
  margin: 0;
  border-bottom: 1px solid #9bd9da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.cell__wrapper.selected {
  background-color: #dae0e7;
}

.cell__wrapper:hover .functional__buttons {
  display: block;
}

.cell__wrapper:hover .badge {
  display: none;
}

.functional__buttons {
  cursor: pointer;
  display: none;
  user-select: none;
}

.cell__value {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
