h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 > app-grid-editor-badge {
  font-size: 14px;
  height: 20px;
}

mat-list > mat-list-item:nth-child(even) {
  background-color: #cdcdcd;
}

main {
  min-height: 250px;
  max-height: 250px;
  overflow-y: auto;
}
