<div class="column__wrapper">
  <div class="column__header">
    <h2>
      {{ category }}
    </h2>
    <mat-icon
      (click)="createItemClick($event)"
      [ngStyle]="items && items.length > 0 ? { visibility: 'visible' } : { visibility: 'hidden' }"
      [class.rotate]="createFormShow">add_box</mat-icon>
  </div>
  <div class="grid__column__wrapper">
    <app-grid-editor-form
      (create)="createElement($event)"
      (hideMe)="createFormShow = false"
      *ngIf="createFormShow"
      [newElementName]="category"
      [levels]="levels"
      [withBadge]="withBadge">

    </app-grid-editor-form>
    <app-grid-editor-cell
      (select)="selectItem($event)"
      (remove)="deleteItem($event)"
      (edit)="editItem($event)"
      *ngFor="let item of items"
      [getDataForBadge]="getDataForBadge"
      [item]="item"
      [selected]="item === selectedItem"
      [withBadge]="withBadge">

    </app-grid-editor-cell>
  </div>
</div>
