<nav class="admin__navigation">
  <div class="admin__navigation__content">
    <a href="#" class="logo">Skill race</a>
    <a href="#">Dashboard</a>
    <a href="#">Board editor</a>
    <a href="#">Users</a>
    <a href="#" class="push__right">Settings</a>
    <a href="#">Logout</a>
  </div>
</nav>
<div class="navigation__padding"><br></div>
<div class="background__image"></div>

<div class="admin__main__wrapper">
  <main class="admin__main__center">
    <h2>Content editor</h2>
    <app-grid-editor></app-grid-editor>
  </main>
</div>

