:host {
  width: 100vw;
  height: 100vh;
}

.navigation__padding {
  height: 36px;
  width: 100vw;
}

.admin__navigation {
  width: 100vw;
  height: 36px;
  background-color: rgba(181, 181, 181, 0.62);
  display: flex;
  justify-content: center;
  position: fixed;
}

.admin__navigation__content {
  min-width: 768px;
  display: flex;
  align-items: center;
}

.admin__navigation__content a {
  text-decoration: none;
  color: black;
  padding: 8px;
  border-right: 1px solid #9e9e9e;
}

.admin__navigation__content a:hover {
  background-color: #9c9c9c;
}

.admin__navigation__content a.logo {
  font-weight: bold;
}

.push__right {
  margin-left: auto;
}

.admin__main__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin__main__center {
  min-width: 768px;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  margin-top: 8px;
}

.background__image {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
