<nav class="admin__navigation">
  <div class="admin__navigation__content">
    <a routerLink="dashboard" class="logo">Skill race</a>
    <a routerLink="dashboard">Dashboard</a>
    <a routerLink="editor">Board editor</a>
    <a routerLink="users">Users</a>
    <a routerLink="settings" class="push__right">Settings</a>
    <a routerLink="/login" (click)="logout()">Logout</a>
  </div>
</nav>
<div class="navigation__padding"><br></div>
<div class="background__image"></div>

<div class="admin__main__wrapper">
  <main class="admin__main__center">
    <router-outlet></router-outlet>
  </main>
</div>

