<nav class="admin__navigation">
  <div class="admin__navigation__content">
    <a routerLink="editor" class="logo">Skill race</a>
    <!--<a routerLink="dashboard">Dashboard</a>-->
    <a routerLink="editor">Board editor</a>
    <a routerLink="users/accounts">User accounts</a>
    <a routerLink="/work">User view</a>
    <!--<a routerLink="settings" >Settings</a>-->
    <a routerLink="/login" class="push__right" (click)="logout()">Logout</a>
  </div>
</nav>
<div class="navigation__padding"><br></div>
<div class="background__image"></div>

<div class="admin__main__wrapper">
  <main class="admin__main__center">
    <router-outlet></router-outlet>
  </main>
</div>

