table {
  border-collapse: collapse;
}

thead > tr {
  height: 50px;
}

thead > tr,
tbody app-kanban-row {
  border-bottom: 1px solid silver;
  background-image: linear-gradient(aliceblue 0%, #dae0e7 90%, aliceblue 100%);
}

tbody app-kanban-row {
  min-height: 200px;
  height: 200px;
}


.kanban__wrapper {
  max-width: 100vw;
  min-width: 100vw;
  max-height: calc(100vh - 36px);
  min-height: calc(100vh - 36px);
  overflow: auto;
}
